Repository Orange-OpenSource/a11y-guidelines, pull requests merged in 2025-06, with the labels that each got.

#728 Eaa comm 2025
  src/en/eaa.md
  src/fr/articles/eaa.md
Labels: new article

#715 Update audit-wcag.md
  src/fr/mobile/android/audit-wcag.md
Labels: documentation

#732 Update font-size-and-colors.md
  src/en/articles/font-size-and-colors.md
Labels: update article, ready

#716 Update audit-wcag.md
  src/en/mobile/android/wcag-audit.md
  src/en/mobile/ios/wcag-audit.md
  src/fr/mobile/ios/audit-wcag.md
Labels: documentation
